version: 2.1
jobs:
  deploy:
    docker:
      - image: 'cimg/ruby:2.6.1-node' # Use the variant that already has Node.js installed
    steps:
      - add_ssh_keys:
          fingerprints:
            - "SHA256:5EzkUxS18XZJC1Mm0J700zbeuRPv0yfgSWDPBgSUw2U" # added kiran keys
            #- "SHA256:DamVOQKLp697/bKqJ7gm749JISeNDCOPv+c/ShJQDf0"
      - checkout
      - checkout
      - run:
          name: Setup Bundler and Install Gems
          command: |
            gem install bundler -v 1.17.2
            bundle install
      - run:
          name: Install Widdershins
          command: |
            # Node is pre-installed in the -node image variant
            sudo npm install -g widdershins
      - run:
          name: Deploy
          command: |
            chmod +x deploy.sh
            ./deploy.sh --gen-widdershins
            ./deploy.sh
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only:
                - slate/nodejs-fix